label {
  margin-right: 5px;
}

button {
 cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input-container {
  display: flex;
  flex-direction: column;
}

